spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/travel_diary
    username: root
    password: choco025874
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  jwt:
    secret: bXkgcGVyc29uYWwgcHJvamVjdCBuYW1lZCB0cmF2ZWxfZGlhcnkgaW4gemVyb2Jhc2Ugc2VjcmV0IGtleQo=
